/* RGB */
$lightBlue: rgba(222, 229, 229, 1);
$skyBlue: rgba(84, 222, 253, 1);
$darkBlue: rgba(18, 53, 91, 1);
$green: rgba(0, 189, 157, 1);
$red: rgba(238, 99, 82, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(19, 21, 22, 1);
$gradeBg: rgba(18,53,91, 1);
$gradient: linear-gradient(270deg, rgba(18,53,91,1) 0%, rgba(84,222,253,1) 50%, rgba(222,229,229,1) 100%);
